<html>
    <head>
        <title>Transformer Containerization</title>
        <div class="title">
            <h2 align="center">BERT Sentiment Analysis & Docker Containerization</h2>
        </div>
        <div class="sub-title">
            <h3 align="center">Twitter Sentiment Analysis</h3>
        </div>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="docker">
            <form class="input-tweets">
                <input type="text" value="Tweets" class="sub-input">
            </form>
            <img src="images/logo.png" class="logo">
            <div class="bubbles">
                <img src="images/bubble.png">
                <img src="images/bubble.png">
                <img src="images/bubble.png">
                <img src="images/bubble.png">
                <img src="images/bubble.png">
                <img src="images/bubble.png">
                <img src="images/bubble.png">
            </div>
        </div>
    </body>
</html>