<html>
    <head>
        <title>Transformer Containerization</title>
        <div class="title">
            <h2 align="center">BERT Sentiment Analysis & Docker Containerization</h2>
        </div>
        <div class="sub-title">
            <h3 align="center">Twitter Sentiment Analysis</h3>
        </div>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="docker">
            <form action="/predict" method="POST" class="input-tweets">
                <input name="message" type="text" class="sub-input">
                <div class="div-predict">
                <input type="submit" class="btn-info" value="predict">
                </div>
            </form>
            <img src="static/images/logo.png" class="logo">
            <div class="bubbles">
                <img src="static/images/bubble.png">
                <img src="static/images/bubble.png">
                <img src="static/images/bubble.png">
                <img src="static/images/bubble.png">
                <img src="static/images/bubble.png">
                <img src="static/images/bubble.png">
                <img src="static/images/bubble.png">
            </div>
        </div>
    </body>
</html>

<script>
    function disableLogo()
    {
        spinner_box = document.getElementsByClassName("logo")
        spinner_box.disabled = true
    }
</script>